<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joymove.mapper.CommunityInteractionMapper">

    <resultMap id="BaseResultMap" type="com.joymove.entity.CommunityInteraction">
        <id column="id" property="id"/>
        <result column="moment_id" property="momentId"/>
        <result column="user_id" property="userId"/>
        <result column="parent_id" property="parentId"/>
        <result column="content" property="content"/>
        <result column="like_count" property="likeCount"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectByMomentId" resultMap="BaseResultMap">
        SELECT * FROM community_interaction
        WHERE moment_id = #{momentId} AND is_deleted = 0
        ORDER BY create_time ASC
    </select>

</mapper>
